name: Keep PRs Updated
on:
  workflow_dispatch:
  push:

permissions:
  contents: read

jobs:
  update-prs:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v5
      - name: Keep PRs updated
        uses: ./
        with:
          github-token: ${{ secrets.ACTION_GITHUB_TOKEN }}
