name: Manual make release

on:
  workflow_dispatch:
    inputs:
      preReleaseLevel:
        description: |
          Release level. By default it is rc on release/* branches, beta on
          main branches and alpha on anything else.
        default: 'automatic'
        type: choice
        options:
          - automatic
          - production
          - rc
          - beta
          - alpha
          - dev

      moveReleasePointers:
        description:
          'For stable releases, this flag indicates that major and minor version
          release tags must be move to new one'
        type: boolean
        default: true

      isLatest:
        description: 'Whether release must be flagged as latest'
        type: boolean
        default: false

permissions:
  contents: write
  pull-requests: write

jobs:
  make-release:
    name: Make release
    uses: ./.github/workflows/common-make-release.yml
    secrets: inherit
    with:
      preReleaseLevel: |
        ${{ inputs.preReleaseLevel == 'automatic' &&
        (startsWith(github.ref_name, 'release/') && 'rc' || github.ref_name ==
        'main' && 'beta' || 'alpha') ||  (inputs.preReleaseLevel != 'production'
        && inputs.preReleaseLevel) || 'none' }}
      moveReleasePointers: ${{ inputs.moveReleasePointers }}
      isLatest: ${{ inputs.isLatest }}
